<!DOCTYPE html>
<html lang="fr-fr">
    @{
        Membre m = ViewBag.membre;
     }
<!-- Mirrored from social.webestica.com/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jun 2022 11:39:06 GMT -->
<head>
	

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap 5 based Social Media Network and Community Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/images/parametre/logo.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap">

	<!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css">

  <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" runAt="server" href="~/assets/css/style.css" >
    <link rel="stylesheet" type="text/css" href="~/assets/css/perso.css">
    
    
    
	 
</head>

<body>
  
        
    
    <!-- =======================
Header START -->
<header class="navbar-light fixed-top header-static bg-mode">

  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo START -->
      <a class="navbar-brand" asp-action="Index" asp-controller="Publications">
        <img class="light-mode-item navbar-brand-item" src="~/images/parametre/logo.png" alt="logo">
        <img class="dark-mode-item navbar-brand-item" src="~/images/parametre/logo.png" alt="logo">
      </a>
      <!-- Logo END -->

      

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="collapse navbar-collapse " id="navbarCollapse">
       
        <!-- Nav Search START -->
        <div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
          <div class="nav-item w-100">
            <form class="rounded position-relative"asp-action="Index" asp-controller="Sujets">
              <input class="form-control ps-5 bg-light" type="search" name="search" placeholder="Rechercher..." aria-label="Search">
              <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
            </form>
          </div>
        </div>
        <!-- Nav Search END -->
        

        <ul class="navbar-nav navbar-nav-scroll mx-auto">

          

          <!-- Item Publication START -->
          <li class="nav-item ms-2 ">
            <a class="elt" asp-action="Index" asp-controller="Publications">
              <span class="icone">
                <i class="bi bi-house-fill fs-6"></i>
              </span>
              <span class="texte btn btn-primary-soft-hover">
                Accueil
              </span>
            </a>
          </li>
          
          <!-- Item Forum START -->
          <li class="nav-item ms-2 ">
            <a class="elt" asp-action="Index" asp-controller="Sujets">
              <span class="icone">
                <i class="bi bi-chat-left-text-fill fs-6"></i>
              </span>
              <span class="texte btn btn-primary-soft-hover">
                Forum
              </span>
            </a>
          </li>
         
          <!-- Item Profil START -->
            <li class="nav-item ms-2">   
              <a class="elt" asp-action="Compte"  asp-controller="Membres">
                <span class="icone">
                  <i class="bi bi-gear-fill fs-6"> </i>
                </span>
                <span class="texte btn btn-primary-soft-hover">
                  Compte
                </span>  
              </a>
            </li> 
          
            
            
           
        </ul>
      </div>
      <!-- Main navbar END -->

      <!-- Nav right START -->
      <ul class="nav flex-nowrap align-items-center ms-lg-3 list-unstyled">
        

         <!-- Item Notification START -->
         <li class="nav-item dropdown ms-2">
					<a class="nav-link icon-md btn btn-light p-0" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                       
                       @if(m.Notifications.Where(m => m.Lu == false).Count() > 0)
                       {
                           <span class="badge-notif animation-blink"></span>
                       }
						<i class="bi bi-bell-fill fs-6"> </i>
					</a>
          <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0" aria-labelledby="notifDropdown">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">@m.Notifications.Where(n => n.Lu == false).Count() non lus</span></h6>
              </div>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush list-unstyled p-1">
                  <!-- Notif item -->
                  @if(ViewBag.membre.Notifications != null)
                  @foreach(var n in m.Notifications.Where(n => n.Lu == false).OrderByDescending(n => n.DateEnvoi).Take(4))
                {
                    <li>
                        <div class="list-group-item list-group-item-action row g-1 rounded d-flex border-0 p-1 mb-1">
                          <div class="ms-sm-3 d-flex col-9">
                             @if (n.Notification.Description.Length > 71)
                                {
                                    <p>
                                        <a class="text-body" asp-action="Notifications" asp-controller="Notifications" style="font-size: 12px" >
                                            @n.Notification.Description.Substring(0,70)...<span class="text-primary">Voir plus</span>
                                        </a>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <a class="text-body" title="consulter" asp-action="Notifications" asp-controller="Notifications" style="font-size: 12px">
                                            @n.Notification.Description
                                        </a>
                                    </p>
                                }
                            <p class=" me-1  col-2  text-nowrap" style="font-size: 12px">
                                @n.AffichageDate()
                            </p>
                          </div>
                        </div>
                    </li>
                }
                  
                </ul>
              </div>
              <div class="card-footer text-center">
                <a asp-action="Notifications" asp-controller="Notifications" class="btn btn-sm btn-primary-soft">Voir toutes les notifications</a>
              </div>
            </div>
          </div>
				</li>
        <!-- Notification dropdown END -->
        

        <li class="nav-item ms-3 dropdown">
          <a class="nav-link p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="d-flex align-items-center position-relative">
              <!-- Avatar -->
              <div class="avatar avatar-sm me-xl-3">
                <img class="avatar-img rounded-circle" src="@ViewBag.membre.PhotoProfil" alt="avatar">
              </div>
              <div class="d-none d-xl-block">
                <span class="h6 stretched-link">@ViewBag.membre.Nom @ViewBag.membre.Prenom</span>
                <p class="small m-0">@ViewBag.membre.Poste</p>
              </div>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
            <!-- Profile info -->
            <li class="px-3">
              <div class="d-flex align-items-center position-relative">
                <!-- Avatar -->
                <div class="avatar me-3">
                  <img class="avatar-img rounded-circle" src="@ViewBag.Membre.PhotoProfil" alt="avatar">
                </div>
                <div>
                  <div class="h6 stretched-link">@ViewBag.membre.Nom @ViewBag.membre.Prenom</div>
                  <p class="small m-0">@ViewBag.membre.Poste</p>
                </div>
              </div>
              @if(ViewBag.membre.Profil == "superadmin" || ViewBag.membre.Profil == "admin")
              {
                  <a class="dropdown-item btn btn-danger-soft btn-sm my-2 text-center" asp-action="Index" asp-controller="Admins">Espace d'administration</a>
              }
              else if(ViewBag.membre.Profil == "moderateur")
              {
                  <a class="dropdown-item btn btn-danger-soft btn-sm my-2 text-center" asp-action="Index" asp-controller="Moderateurs">Espace modérateur</a>
              }
              
            </li>
            <!-- Links -->
            <li><a class="dropdown-item" asp-action="Compte" asp-controller="Membres"><i class="bi bi-gear fa-fw me-2"></i>Modifier mon compte</a></li>

            <li><a class="dropdown-item" asp-action="MesContenus" asp-controller="Membres"><i class="bi bi-chat-square-fill fa-fw me-2"></i>Mes contenus</a></li>
            
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item bg-primary-soft-hover" asp-action="Login" asp-controller="Membres"><i class="bi bi-power fa-fw me-2"></i>Déconnexion</a></li>
            
          </ul>
        </li>

        <!-- Dark mode switch START -->
        <li>
          <div class="modeswitch-wrap" id="darkModeSwitch">
            <div class="modeswitch-item">
              <div class="modeswitch-icon"></div>
            </div>
            <span>Mode sombre</span>
          </div>
        </li> 
        <!-- Dark mode switch END -->
        <!-- Profile START -->
      </ul>
      <!-- Nav right END -->
    </div>
  </nav>
  <!-- Logo Nav END -->
</header>
<!-- =======================
        Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- Container START -->
  <div class="container-fluid">

            @RenderBody()

   </div>
</main>
<!-- Modal login activity END -->

  <!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="~/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="~/assets/vendor/dropzone/dist/dropzone.js"></script>
<script src="~/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="~/assets/vendor/pswmeter/pswmeter.min.js"></script>


<!-- Template Functions -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/assets/js/functions.js"></script>

@*<script src="~/assets/js/ckeditor2/ckeditor.js"></script>*@



</body>

<!-- Mirrored from social.webestica.com/settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jun 2022 11:39:08 GMT -->
</html>
@await RenderSectionAsync("Scripts", required: false)